* {
	margin: 0;
	padding: 0;
	}

html, body {
    height: 100%;
}

body {
	font: 400 1.0em "Helvetica Neue",helvetica,sans-serif;
	color: #333;
	background-color: #fff;
    background: #fff url(../images/small-pentagon.png) repeat-x;
	}

#container {
	width: 960px;
    margin: 0 auto -200px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#nav {
	margin: 0;
	width: 100%;
	padding: 10px 0;
	}
	
#nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
	}
	
#nav li {
	float: left;
	clear: none;
	}
	
#nav li a {
	margin-left: 40px;
	padding-top: 10px;
	display: block;
	text-decoration: none;
	font: 400 1.1em "Helvetica Neue",helvetica,sans-serif;
	color: #999;
	letter-spacing: -1px;
	}

#nav li a:hover {
	background: url('../images/arrow.gif') no-repeat top center;
	}
	
#head {
	margin: 0.5em 0;
	width: 100%;
	line-height: 0.8em;
	}

#head h1 {
	margin-bottom: 0px;
	padding-bottom: 0px;
    text-indent: -50000px;
    overflow:hidden;
    width:601px;
    height:175px;
    background: url(../images/domain51.png) no-repeat;
}

#head h2 {
	font: 200 1.5em "Helvetica Neue",helvetica,sans-serif;
    text-shadow: #999 0px 1px 1px;
	margin-top: -1.50em;
    margin-left:1em;
	padding: 0;
    padding-left:0.2em;
    -webkit-padding-left:0.4em;
	margin-bottom: 40px;
    text-transform:lowercase;
	letter-spacing:  0.4em;
	}

.main {
	position: relative;
	margin: 50px 0 0 0;
	padding: 0;
	width: 100%;
	}
	
#right {
	width: 240px;
	float: left;
	border-top: 5px solid #ddd;
	padding-top: 40px;
	text-align: right;
	margin-bottom: 40px;
	margin-left:20px;
	}

#right ul, .right2 ul {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
	}
	
#right li, .right2 li {
	padding: 5px 0 5px 20px;
	}

#right li a, .right2 li a {
	padding: 0 0 0 20px;
	color: #666;
	font-size: 1.1em;
	text-decoration: none;
	}

#right li a:hover, .right2 li a:hover {
	background: url('../images/bullet.gif') no-repeat left center;
	}

#content {
    float:left;
	width: 700px;
	border-top: 5px solid #ddd;
	padding-top: 40px;
	margin-bottom: 40px;
	}
	
h1 {
	font: 400 1.4em "Helvetica Neue",helvetica,sans-serif;
	color: #CCC;
	letter-spacing: -0.1em;
	margin-bottom: 0;
	}

h2 {
	font: 400 1.2em "Helvetica Neue",helvetica,sans-serif;
	margin-top: -0.4em;
	padding-top: 0px;
	letter-spacing: -1px;
	}
	
h3 {
	font: 400 1.2em "Helvetica Neue",helvetica,sans-serif;
	color: #AAA;
	letter-spacing: -0.1em;
	margin-bottom: 10px;
	}
	
p {
	line-height: 1.8em;
	margin: 10px 0 20px 0;
	color: #777;
	font-size: 0.9em;
	}
	
#content a, #content2 a, #foot a {
	text-decoration: none;
	}

#content a:hover, #content2 a:hover, #foot a:hover {
	border-bottom: none;
	}

img.content, a img.content {
	float: right;
	padding: 4px;
	border: 1px solid #444;
	margin: 10px 0 10px 10px;
	}
	
a:hover img.content {
	border: 1px solid #000;
	}
	
img.color, a img.color {
	float: left;
	padding: 1px;
	border: 1px solid #444;
	margin: 0 8px 0 0;
	}
	
a:hover img.color {
	border: 1px solid #999;
	}
	
.right2 {
	float: left;
	width: 10px;
	margin-left: 15px;
	padding-top: 40px;
	border-top: 5px solid #ddd;
	text-align: right;
	font-size: 0.9em;
	}
	
.right2 h3 {
	letter-spacing: -1px;
	}
	
#content2 {
    float: left;
    width: 610px;
	border-top: 5px solid #ddd;
	padding-top: 40px;
	}
	
ol {
	color: #AAA;
	font: 600 1.0em "Helvetica Neue",helvetica,sans-serif;
	padding: 10px;
	}
 
ol span {
	font: 400 1.0em "Helvetica Neue",helvetica,sans-serif;
	color: #777;
	font-style: normal;
	}

ol li {
	margin-left: 25px;
	padding: 4px 0
	}

#content ul, #content2 ul {
	list-style-type: none;
	padding: 10px;
	color: #777
	}
	
#content ul li, #content2 ul li {
	padding-left: 17px;
	background: url('../images/bullet2.gif') no-repeat left center;
	margin-left: 10px;
	}

table {
  width: 100%;
  margin-bottom: 20px;  
  font-size: 1em;
  border-collapse: collapse;
}

table caption {
  margin-top: 20px;
  padding: 0 0 0.5em 3px;
  font: 400 1.2em "Helvetica Neue",helvetica,sans-serif;
  text-align: left;  
  letter-spacing: -1px;
}

table th,
table td {
  text-align: left;
  vertical-align: top;
  padding: 4px 7px !important;
  padding: 6px 10px;
}


thead th {
  border-top: 2px solid #0C0C0C;
  border-bottom: 1px solid #0C0C0C;
}


tbody td {
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #202020;
}

blockquote, .blockquote {
	display: block;
	width: 100%;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #eee;
	margin: 5px 0 20px 20px;
	padding: 5px;
	font-style: italic;
	}

form label{
	display:block;
	}

form input.text, form textarea{
	width:100%;
	border:1px #111 solid;
	color:#666;
	padding:4px 5px;
	font:12px Arial,san-serif;
	background-color: #ddd;
	}

form input.text:hover, form textarea:hover{
	border:1px #111 solid;
	}

form input.text:focus, form textarea:focus{
	border:1px #000 solid;
	color:#666;
	}

form input.button{
	margin-right:8px;
	padding:3px 5px;
	font:12px Arial,san-serif;
	}

* html form input.text,

* html form textarea{
	border-color: #111;
	color:#333;
	}

#foot {
    background: #333;
    height:198px;
    color:#333;
    clear:both;
	width: 100%;
	border-top: 3px solid #333;
	padding: 0;
    margin:0;
    font-size:80%;
	}

#foot #footer_container {
    background: #333;
}

#foot #footer_container #feeds { 
    color: #999;
}

#foot p, #foot a {
    color: #333 !important;
    border: 0 !important;
}

#foot a:hover {
    text-decoration: underline;
}

#foot #copyright {
    background:#666;
    padding: 0.5em;
}
#foot #copyright p {
    width:960px;
    margin:0 auto;
}

.container {
    clear:both;
}

.container p {
    margin:0;
}

.container h2 {
    margin-top: 20px;
}

div.bios {

}

div.bios dl {
    margin-left:20px;
}

div.bios dt {
    margin-top:20px;
    color:#333;
    font-weight:bold;
    font-style:italic;
}

div.bios dd {
    margin-left:20px;
}

div.bios dd img {
    margin-right:20px;
    border:5px solid #666;
}

div.post dl dt {
    float:left;
}

div.post dl dd {
    float:left;
}

div.post .credits p {
    width:100%;
    margin-top:0;
    line-height:1.3;
}

div.post .credits img {
    margin-right:5px;
}

.left {
    float:left;
}

.github-ribbon img {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

div.post dl {
    margin-left:20px;
}

div.post {
    padding-bottom:20px;
    border-bottom: 1px dashed #999;
    margin-bottom: 40px;
}

div.post dl, div.post dl dt, div.post dl dd {
    color: #777;
}

fieldset { 
    margin-top: 20px;
}

div.post .pressrelease.about fieldset {
    margin-bottom:20px;
    padding:10px;
}

div.post .pressrelease.about p {
    margin-left:30px;
}
div.post dl dt {
    margin-top:5px;
    width:100px;
    text-align:right;
    padding-right: 5px;
    clear:both;
    float:left;
}

div.post dl dd {
    margin-top:5px;
    float:left;
}
